h1{
    color: lightsalmon;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 10px;
}
.add-expense-section{
    color:  lightsalmon;
    background-color:  lightskyblue;
    padding: 20px;
    border-radius: 10px; }
   

